{% sw_extends '@Storefront/storefront/page/account/order-history/index.html.twig' %}

{% block page_account_orders_welcome %}
    {{ parent() }}

    {% block page_account_orders_search %}
        {%- set _dateFrom = app.request.query.get('dateFrom', '') -%}
        {%- set _dateTo   = app.request.query.get('dateTo', '')   -%}
        {%- set _search   = app.request.query.get('search', '')   -%}
        {%- set _hasActiveFilter = (_search is not empty) or (_dateFrom is not empty) or (_dateTo is not empty) -%}

        <div class="account-orders-search my-4" data-alengo-order-search="true">
            <form class="account-orders-search-form"
                  action="{{ path('frontend.account.order.page') }}"
                  method="get"
                  aria-label="{{ 'alengo-order-search.dateRangeAriaLabel'|trans|sw_sanitize }}">

                {% block page_account_orders_search_label %}
                    <label for="alengo-order-search" class="visually-hidden">
                        {{ 'alengo-order-search.searchLabel'|trans|sw_sanitize }}
                    </label>
                {% endblock %}

                {% block page_account_orders_search_input_group %}
                    <div class="input-group mb-2">

                        {% block page_account_orders_search_input %}
                            <input type="search"
                                   id="alengo-order-search"
                                   name="search"
                                   class="form-control"
                                   value="{{ _search|sw_sanitize }}"
                                   placeholder="{{ 'alengo-order-search.searchPlaceholder'|trans|sw_sanitize }}"
                                   autocomplete="off">
                        {% endblock %}

                        {% block page_account_orders_search_button %}
                            <button type="submit" class="btn btn-primary">
                                {% sw_icon 'search' style { ariaHidden: true } %}
                                <span class="visually-hidden">
                                    {{ 'alengo-order-search.searchButton'|trans|sw_sanitize }}
                                </span>
                            </button>
                        {% endblock %}

                    </div>
                {% endblock %}

                {% block page_account_orders_date_range %}
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="alengo-order-date-from" class="col-form-label">
                                {{ 'alengo-order-search.dateFromLabel'|trans|sw_sanitize }}
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="date"
                                   id="alengo-order-date-from"
                                   name="dateFrom"
                                   class="form-control form-control-sm"
                                   value="{{ _dateFrom|sw_sanitize }}"
                                   autocomplete="off">
                        </div>
                        <div class="col-auto">
                            <label for="alengo-order-date-to" class="col-form-label">
                                {{ 'alengo-order-search.dateToLabel'|trans|sw_sanitize }}
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="date"
                                   id="alengo-order-date-to"
                                   name="dateTo"
                                   class="form-control form-control-sm"
                                   value="{{ _dateTo|sw_sanitize }}"
                                   autocomplete="off">
                        </div>
                    </div>
                {% endblock %}

                {% if _hasActiveFilter %}
                    {% block page_account_orders_search_reset %}
                        <div class="account-orders-search-reset mt-2">
                            <a href="{{ path('frontend.account.order.page') }}"
                               class="btn btn-sm btn-outline-secondary">
                                {% sw_icon 'x-circle' style { ariaHidden: true } %}
                                {{ 'alengo-order-search.searchReset'|trans|sw_sanitize }}
                            </a>
                        </div>
                    {% endblock %}
                {% endif %}

            </form>
        </div>
    {% endblock %}
{% endblock %}
